/**
 * @name Berserk v.1
 * @author Systemd
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/43717-berserk.html
 * @authorLink https://vsthemes.org/user/Systemd/
 * @authorId 2
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.2;
    --messagetransparency: 0.75;
    --guildchanneltransparency: 0.3;
    --memberlistransparency: 0.15;
    --accentcolor: 70,96,114;
    --background: url("https://vsthemes.org/uploads/posts/2021-09/1632159238_53e89a4f21-2_1390x600.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}